mixin isLoggedIn()
  if context.user.username
    ul.nav.navbar-nav.navbar-right
      li
        a.btn.btn-primary(type="button" href="/logout" role="button") Logout
      li
        a(href='/users/profile') Hello #{context.user.username} 

  else
    ul.nav.navbar-nav.navbar-right
      li
        a.btn.btn-primary(href='/login' role="button") Login
      li
        a.btn.btn-primary(href='/register' role="button") Register

