mixin isLoggedIn()
  if context.user.username
    ul.nav.navbar-nav.navbar-right
      li 
        a() Logged in as #{context.user.username}
      li
        a.btn.btn-primary(href='/users/profile') View profile
      li
        a.btn.btn-primary(type="button" href="/logout" role="button") Logout

  else
    ul.nav.navbar-nav.navbar-right
      li
        a.btn.btn-primary(href='/login' role="button") Login
      li
        a.btn.btn-primary(href='/register' role="button") Register

