mixin sandwich()
  span.icon-bar

mixin nav()
  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          +sandwich 
          +sandwich 
          +sandwich
        a.navbar-brand(href="#") Team Express 1 

      div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav  
          li.gray-hover
            a(href='/') Home
          li.gray-hover
            a(href='/movies') Movies
          li.gray-hover
            a(href='/collections') Collections
          li.gray-hover
            a(href='/about') About
        +isLoggedIn   