mixin scripts()
  script(src='/lib/sha-1/sha1.js')
  script(src='/lib/jquery/dist/jquery.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  script(src='/lib/toastr/build/toastr.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/main.js')