extends master/layout

include components/title

block title
  +title('About')

block content
  div.main-container
    h1(align="center") About
    div.content
      p(align="center") Project for Telerik Academy - 'Web apps with Node.js' course
      hr
      h4(align="center") Repository in
        |
        |
        a(href="https://github.com/Team-Express-1") GitHub    
