extends master/layout

include components/previews/collection-preview
include components/title

block title
  +title('Private collections')

block content
  div.panel.panel-default
    div.panel-heading
      h1 Public collections
    div.panel-body
      +collectionPreview(context.collections)