extends master/layout

block content
  div.panel.panel-default
    div.panel-heading
      h1 Home
    div.panel-body
      h2 Twitter feed: #{context.twitterKeyword.join(' ')}
      hr
      div#twitter-feed
