extends master/layout

block content
  h1= context.user.username + "'s profile"
  div.well.well-lg
    each collection in context.match.collections
      div.collection
        h2 #{collection.collectionName}
        a.collection-view(href='/collections/view/' + collection.id)
          | Detailed view
        hr