extends master/layout

include components/previews/profile-preview
include components/previews/collection-preview

block content
  div.panel.panel-default
    div.panel-heading
      h1 Profile
    div.panel-body
      if context.user.username === context.match.user.username
        +details(context.match, true)
      hr
      h2 Your collections
      hr
      +collectionPreview(context.match.collections)
          
