extends master/layout

block content
  div.row
    div.col-sm-12
      h3 Profile of #{context.match.username} 
  each comment in context.match.comments
    div(class="comment")
      h2 #{comment.title}
      p #{comment.content}
      hr