html
  head
    title
      | Profile page
    body
      p #{context.username}
      each comment in context.comments
        div(class="comment")
          h2 #{comment.title}
          p #{comment.content}
          hr