mixin sandwich()
  span.icon-bar

mixin nav()
  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          +sandwich 
          +sandwich 
          +sandwich
        a.navbar-brand(href="/") Team Express 1 

      div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav  
          li.gray-hover
            a#btn-nav-home(href='/') Home
          li.gray-hover
            a#btn-nav-movies(href='/movies') Movies
          li.gray-hover
            a#btn-nav-collections(href='/collections') Collections
          li.gray-hover
            a#btn-nav-about(href='/about') About
          li.dropdown
            a#btn-nav-dropdown(href="#" class="dropdown-toggle" name='tests' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
              | TESTS 
              span.caret
            ul.dropdown-menu
              li
                a(href="#") UNIT TESTS
              li
                a(href="/coverage") UNIT TESTS COVERAGE
              li.divider(role='separator')
          li.gray-hover
            a(href='https://github.com/Team-Express-1/nodejs-course-project') GITHUB REPO
        +isLoggedIn