mixin genresNav(genres)
  ul.nav
    each genre, index in genres
      li.genre(class='col-sm-' + Math.floor(12 / genres.length))
        a.btn(href='/movies/view?page=1&size=10&genres=' + genre.toLowerCase() id='btn-genre-' + (index + 1)) #{genre}

mixin movieNav(movie, collId)
  if !context.isOwner && context.user.username
    input.btn.btn-primary.collection-add-display(type='button' value='Add to collection' id='btn-add-form-display-' + movie.id)
    form.form-group.hidden.text-center(action='/collections/add' method='post')
      input.form-control.hidden(type='text' name='movieId' value=movie.id)
      select.form-control(name='collectionName' id='select-collection-name-' + movie.id)
        each collection, index in context.user.collections
          option(id='collection-' + (index + 1)) #{collection.collectionName} 
      input.form-control.btn.btn-primary#btn-movie-add(type='submit' value='Add')
  if collId && context.inCollection
    form.form-group(action='/collections/remove/' + collId method='post')
      input.form-control.hidden(type='text' name='movieId' value=movie.id)
      input.form-control.btn.btn-primary#btn-collection-remove(type='submit' value='Remove from collection')