mixin collectionForm()
  .well.well-lg
    form.form-group(action='/collections/create' method='post')
      input.form-control(type='text' name='collectionName' placeholder='Collection name...')
      label
        input(type='checkbox' name='isPrivate')
        | Private
      input.form-control(type='submit' value='submit')