mixin collectionForm()
  div.panel.panel-default
    div.panel-heading
      h1 Create Collection
    div.panel-body.text-center
      form.form-group(action='/collections/create' method='post')
        input.form-control#tb-collection-name(type='text' name='collectionName' placeholder='Collection name...')
        label Private collection
        input.form-control#cb-collection-private(type='checkbox' name='isPrivate')
        input.form-control.btn.btn-primary#btn-collection-create(type='submit' value='Submit')