mixin commentForm(movieId)
  form.form-group(action='http://localhost:8000/comments/create' method='post')
    textarea.form-control#tb-comment-content(name='content' placeholder='Content')
    input.form-control.hidden(type='text' name='movieId' value=movieId)
    input.form-control#btn-comment-create(type='submit' value='Submit')
  hr