include external/head
include external/scripts
include ../components/is-logged-in
include ../components/navs/main-nav

html
  head
    +head()
    block title
  body
      .main-wrapper
        +nav()
        .container.main-container
          block content
      +scripts()
