mixin details(match, isOwner)
  h1 Details
  hr
  p#profile-username Username: #{match.user.username}
  p#profile-joined-on Joined on: #{match.user.joined}
  hr
  if isOwner
    input#toggle-password-form.btn.btn-primary(type='button' value='Change password')
    form.form-group.hidden.user-form(action='/users/update' method='post')
      input.form-control(type='password' id='tb-password' placeholder='New password')
      input.form-control.hidden(type='password' id='tb-password-secure' name='password')
      input.form-control(type='password' id='tb-password-repeat' placeholder='Repeat password')
      input.form-control.hidden(type='password' id='tb-password-repeat-secure' name='passRepeat')
      input.form-control.btn.btn-primary(type='submit' value='Submit')
    hr
    a(href='/collections/new') Create new collection...